name: Build Wails App

on:
  push:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Wails App
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Linux dependencies
        run: |
          sudo apt update
          sudo apt install -y software-properties-common
          sudo add-apt-repository -y universe
          sudo apt update
          sudo apt install -y libgtk-3-dev libglib2.0-dev libwebkit2gtk-4.1-dev

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Cache Go Modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Check pnpm version
        run: pnpm --version

      - name: Cache pnpm store
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Install Frontend Dependencies
        run: |
          cd frontend
          pnpm install --frozen-lockfile

      - name: Build Windows Wails App
        run: wails build -platform windows/amd64 -skipbindings -devtools -clean -o COM3D2_MOD_EDITOR_V2.exe

      - name: Upload Windows Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: COM3D2_MOD_EDITOR_V2
          path: /home/runner/work/COM3D2_MOD_EDITOR/COM3D2_MOD_EDITOR/build/bin/COM3D2_MOD_EDITOR_V2.exe

      - name: Build Linux Wails App
        run: CGO_ENABLED=0 GOTOOLCHAIN=auto wails build -platform linux/amd64 -skipbindings -devtools -clean -tags webkit2_41 -o COM3D2_MOD_EDITOR_V2-amd64-Linux 

      - name: Upload Linux Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: COM3D2_MOD_EDITOR_V2-amd64-Linux 
          path: /home/runner/work/COM3D2_MOD_EDITOR/COM3D2_MOD_EDITOR/build/bin/COM3D2_MOD_EDITOR_V2-amd64-Linux
